:root{
    --dark-blue: hsl(229, 23%, 23%);
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-gray: hsl(0, 0%, 59%);
    --grayish-blue: hsl(227, 10%, 46%);
    --font-kumbh-sans: "Kumbh Sans", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html{
    font-size: 18px;
    font-family: var(--font-kumbh-sans);
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: none;
}

h1, h2, h3{
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--dark-blue);
}

p{
    font-weight: 400;
    color: var(--dark-gray);
}

button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-cyan);
    background-image: url("./images/bg-pattern-bottom.svg"), url("./images/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-position: left 50vw top 50vh, right 50vw bottom 50vh;
}

.attribution{
    width: 100%;
    height: 56px;
    letter-spacing: 1px;
    display: block;
    align-content: center;
    font-family: var(--font-kumbh-sans);
}

.card-picture{
    margin-top: 116px;
    margin-bottom: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid white;
}

.card-picture__img{
    border-radius: 50%;
}

.profile-card{
    width: 420px;
    min-height: 460px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-image: url("./images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.profile-card__city{
    letter-spacing: 1px;
    font-weight: 400;
    font-size: .9rem;
    margin-top: 10px;
}

.profile-card__name span{
    margin-left: 4px;
    font-weight: 500;
    color: var(--dark-gray);
}

.profile-card__socials{
    flex: 0 1 112px;
    width: 100%;
    padding: 1.5rem;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 2px solid hsla(227, 10%, 46%, .15);
}

.socials-item{
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.socials-item__stat{
    font-size: 1.25rem;
}

.socials-item__text{
    margin-top: 8px;
    letter-spacing: 2px;
    font-size: .65rem;
}
